.home-container {
  width: 100%;
  background-color: $color-gray-light;
}

button {
  cursor: pointer;
}

.motorcycle-conteiner {
  padding: 30px;
}

.without-data {
  height: 100px;
  color: gray;
  font-family: PoppinsEL;

  .no-data-icon,
  span {
    display: block;
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  .no-data-icon {
    font-size: 3em;
  }

  strong {
    color: $web-m-color;
    font-family: PoppinsR;
    text-align: center;
  }

  h1 {
    text-align: center;
  }
}

.checkbox-group {
  display: flex;
  width: 200px;
  margin-bottom: 10px;

  .check-item {
    flex: 1;
    display: flex;
    align-items: center;

    label {
      margin: 0;
      line-height: 22px;
      font-size: 13px;
      font-family: PoppinsR;
    }

    input {
      all: unset;
      border: 1px solid $color-gray;
      height: 16px;
      width: 16px;
      display: inline-block;
      margin-right: 5px;
    }

    input:checked {
      background-color: $web-m-color;
    }
  }

  input:checked {
    background-color: red;
  }
}

.select-group {
}

.content-logo {
  height: 50px;
}

.form-container {
  padding: 15px 10px;
  background-color: white;

  .button-container {
    .buttons {
      display: flex;
      justify-content: flex-end;
    }

    .submit {
      background: #f3123c;
      border-color: transparent;
      font-size: 16px;
      line-height: 28px;
      font-weight: bold;
      color: white;
      width: 200px;
      border-radius: 2px;
      font-family: PoppinsR;
      width: 280px;
      height: 45px;
      &:hover {
        box-shadow: 0 8px 12px -8px $web-m-color;
      }
    }

    .reset {
      background: transparent;
      border: none;
      margin-right: 15px;
      color: gray;
      font-family: PoppinsR;
    }

    .more-action {
      font-size: 13px;
      color: $web-m-color;
      font-family: PoppinsR;
      cursor: pointer;

      .info {
        font-weight: bolder;
      }

      .arrow {
      }
    }
  }
}

@media (min-width: 1024px) {
  .button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttons {
    }
  }

  .home-container {
    // width: 500px;
    margin: 0px auto;
  }

  .mg-r {
    margin-right: 10px;
  }

  .select-group {
    @include flex-default;

    div {
      flex: 1;
    }

    .select-group-items {
      display: flex;
    }

    .select-container {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .form-container {
    padding: 15px 30px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    width: 993px;
  }
}
