.show-result-content {
  margin-top: 45px;
  cursor: pointer;

  .card-container {
    height: 300px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

    &:hover {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }

    &-image {
      height: 147px;
      width: 100%;
      object-fit: contain;
    }

    .card-inf {
      @include flex-default;

      flex-direction: column;
      height: 50%;
      padding: 15px 10px;
      font-family: PoppinsR;

      .mark-model {
        color: rgb(46, 46, 55);
        font-size: 14px;

        strong {
          padding-right: 5px;
        }
      }

      .price {
        font-weight: 500;
        font-size: 22px;
        color: #686976;
      }

      .km,
      .year-f-m {
        font-size: 13px;
      }

      .year-km-container {
        @include flex-default;
      }
    }
  }
}

.card-skeleton {
  display: inline-block;
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: $color-gray-light;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(#fff, 0) 0,
      rgba(#fff, 0.2) 20%,
      rgba(#fff, 0.5) 60%,
      rgba(#fff, 0)
    );
    animation: shimmer 1s infinite;
    content: "";
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

@media (min-width: 902px) {
  .show-result-content {
    .card-container {
      &-image {
        object-fit: cover;
      }
    }
  }
}
