.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);

  .modal-wrapper-children {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-wrapper-children main img {
    width: 100%;
  }

  .modal-wrapper-children header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  .modal-wrapper-children header img {
    height: 18px;
    width: 18px;
    cursor: pointer;
  }

  .modal-wrapper-children header span {
    display: block;
    text-align: right;
    width: 100%;
    font-family: PoppinsL;
    font-size: 22px;
    /* width: 20px; */
    cursor: pointer;
  }

  .modal-wrapper-children header .user-inf img {
    height: 40px;
    width: 40px;
    object-fit: contain;
    background-color: #ffd700;
    border-radius: 100%;
    margin-right: 10px;
  }

  .user-inf-about-image span {
    display: block;
  }

  .user-inf-about-image .image-title {
  }

  .user-inf-about-image .author-name {
    font-size: 12px;
  }

  @media (min-width: 768px) {
    .modal-wrapper-children {
      width: 700px;
    }

    .modal-wrapper-children main img {
      height: 519px;
    }
  }
}
