.select-container, select {
    position: relative;
    display: flex;
    height: 47px;
    margin-bottom: 24px;
    border: 1px solid #8F9BB3;
    border-radius: 4px;
    font-family: PoppinsR;

    label {
        font-family: PoppinsL;
        font-size: 13px;
        font-weight: bold;
    }

    .custom-select select {
        display: none;
    }

    .custom-select {
        width: 100%;
        position: relative;
    }

    .custom-select .arrow-down-icon {
        position: absolute;
        right: 4%;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        color: white;
        font-size: 22px;
    }

    .select-selected {
        height: 47px;
        color: #999;
        font-size: 13px;
        font-weight: 300;
        border-radius: 3px;
        display: flex;
        align-items: center;
        padding-left: 8px;
        width: 100%;
        font-size: 15px;
        line-height: 24px;

        span {
            color: $color-black;
        }
    }

    .select-selected:before {
        position: absolute;
        content: "";
        top: 2px;
        border-color: gray transparent transparent transparent;
    }

    .select-selected.select-arrow-active:before {
        position: absolute;
        content: "";
        border-color: transparent transparent gray transparent;
        top: 2px;
    }

    .select-items div {
        color: #999;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 15px;
        line-height: 24px;
    }

    .select-items {
        position: absolute;
        color: #272727;
        top: 108%;
        left: 0;
        right: 0;
        z-index: 99;
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border: 1px solid #ebedf2;
        background-color: white;
        font-size: 13px;
        font-weight: 300;
    }

    .select-hide {
        display: none;
    }

    .select-items div:hover,
    .same-as-selected {
        background-color: $web-m-color;
        color: white;
    }
}

.disabled-select {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 23;
    cursor: no-drop;
}
