.tabs-c {
  width: 100%;
  padding: 0 10px 10px;
  background-color: $color-gray-light;
  font-family: PoppinsL;

  .tab-logo {
    min-height: 100px;

    img {
      margin-top: 25px;
    }
  }

  .tab-header {
    display: flex;

    .buy-car {
      height: 38px;
      width: 180px;
      font-size: 14px;
      color: orange;
      background: transparent;
      border: 2px solid orange;
      border-radius: 2px;
      line-height: 26px;
      font-family: PoppinsR;
      display: none;
      opacity: 0;
    }
  }

  .tab-item {
    display: flex;
    padding: 0 26px;
    color: gray;

    span {
      display: flex;
      align-items: center;
      font-size: 2em;
    }

    .icon {
      display: inline-block;
      width: 30px;
      background-color: green;
    }

    .label {
      margin-left: 10px;
      padding-top: 5px;

      .small,
      big {
        display: block;
      }

      .small {
        font-size: 10px;
        font-weight: 700;
        text-align: left;
      }

      .big {
        font-size: 16px;
        line-height: 26px;
      }
    }
  }
}

.tabs__list {
  display: block;
  width: 100%;
  border-bottom-color: none;
  padding: 0;
  list-style: none;
}

.tabs__tab {
  display: inline-block;
}

.tabs__tab-link {
  display: inline-block;
  text-align: center;
  padding: 3px 30px;
  color: rgba(5, 40, 67, 0.65);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  text-decoration: none !important;
}

.tabs__tab-link--active {
  color: #052843;
  font-weight: bold;
  border-color: $web-m-color;
}

.tabs__content {
  width: 100%;
  background-color: white;
}

@media (min-width: 600px) {
  .tab-container .tab-header .tabs .buy-car,
  .tabs-c .tab-header .buy-car {
    opacity: 1;
    display: block;
  }
}
