@font-face {
    font-family: "PoppinsR";
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: "PoppinsEL";
    src: url("../fonts/Poppins-ExtraLight.ttf");
}

@font-face {
    font-family: "PoppinsL";
    src: url("../fonts/Poppins-Light.ttf");
}
