.container {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;

  @media (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (min-width: 1200px) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.wm-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 13px;
}
